---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { Icon } from 'astro-icon/components'

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main>
			<div class="h-screen w-full flex flex-col justify-center items-center text-lg px-6 bg-blue-100">
				<img src="/mexico.png" alt="PVR Legal Solutions" class="max-h-80 w-full object-contain" />
				<h1 class="text-4xl font-bold pb-4 text-center text-[#1a72ba]">We are building something amazing</h1>
				<p class="pb-7 text-center text-gray-800">Our website is under construction, but we are ready to serve you. <br>Contact us:</p>
				<div class="flex flex-col gap-2 items-center text-[15px] text-gray-800 font-bold">
					<a href="tel:+523223747593" target="_blank">
						<div class="flex gap-2 items-center">
							<Icon name="mdi:phone" class="text-[#1a72ba] text-2xl"/>
							+52 322 374 7593
						</div>
					</a>
					<a href="https://api.whatsapp.com/send/?phone=523223747593&text&type=phone_number&app_absent=0" target="_blank">
						<div class="flex gap-2 items-center">
							<Icon name="mdi:whatsapp" class="text-[#1a72ba] text-2xl"/>
							WhastApp
						</div>
					</a>

					<a href="https://www.facebook.com/pvrlegalsolutions/" target="_blank">
						<div class="flex gap-2 items-center">
							<Icon name="mdi:facebook" class="text-[#1a72ba] text-2xl"/>
							Facebook
						</div>
					</a>
					<a href="https://www.instagram.com/pvrlegal" target="_blank" class="">
						<div class="flex gap-2 items-center">
							<Icon name="mdi:instagram" class="text-[#1a72ba] text-2xl"/>
							Instagram
						</div>
					</a>
					<a href="https://maps.app.goo.gl/4WprzZSBU6hDeuVR8" target="_blank">
						<div class="flex gap-2 items-center">
							<Icon name="mdi:map-marker" class="text-[#1a72ba] text-2xl"/>
							C. Prol. Brasil 1619, Lázaro Cárdenas
						</div>
					</a>
				</div>

			</div>
		</main>
	</body>
</html>
